#{extends 'main.html' /}
#{set title:'搜索' /}



<div class="container">
	<div class="page-header">
	    <h2>搜索朋友</h2>
	</div>
	
	#{if pager.models.size() > 0}
	<p>共搜索到<span id="count">${pager.models.size()}</span>位朋友</p>
	<table class="table table-bordered">
	<tbody>
		#{list pager.models, as:'user'}
		<tr>
			<td width="60">
				<a href="#${user.username}" class="btn btn-small btn-success">
					<i class="icon-plus icon-white"></i>增加
				</a>
			</td>
			<td>${user.username}</td>
			<td>${user.email}</td>
		</tr>
		#{/list}
	</tbody>
	</table>
	#{pager obj:pager /}
	#{/if}
	#{else}
	<p>共搜索到0位朋友</p>
	#{/else}
	
</div>

<script>
$(function() {
	$('a.btn-success').click(function() {
		var a = this;
		$.post('@{App.plus}', {username:$(this).attr('href').substring(1)}, function(data) {
			$(a).parents('tr').remove();
			if ($('table.table tr').length == 0) {$('table.table').remove();}
			if (data == '添加成功') {
				$('#followingsCount').text(parseInt($('#followingsCount').text())+1);
				$('#count').text(parseInt($('#count').text()-1));
			}
			alert(data);
		});
		return false;
	});
});
</script>